* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Barlow", Sans-serif;
    background: #F2F3F8
}

h2 {
    color: #fff;
    text-align: center;
}

.form {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

.form-header,
.form p {
    margin-top: 0;
    margin-bottom: 0;
}

.form-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #17356E;
}

.form-header {
    background: #17356E;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.form-container {
    background: #ebebeb;
    padding: 12px;
}

.form p {
    padding: 12px;
}

.form input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.form input[type="text"],
.form input[type="text"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

.form input[type="text"]:focus,
.form input[type="text"]:focus {
    border-color: #888;
}

.form input[type="submit"] {
    background: #656565;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}
