<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title> {{ title }}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css', _external=True) }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png', _external=True) }}" sizes="16x16">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.4.1/css/bootstrap.css') }}" />

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"> </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"> </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pt-br.js') }}"> </script>
        <script type="text/javascript" href="{{ url_for('static', filename='bootstrap-4.4.1/js/bootstrap.js') }}" > </script>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"> </script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #17356E;">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> Ingressar dados </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/usuarios"> Dados dos usuarios <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div class="container pt-4">
            {% block body %}
            {% endblock %}
        </div>
        
        <script>
            $(document).ready(function() {
                $('#tbl').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json"
                    },
                 "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                  "iDisplayLength": 5
                }
            )});
        </script>
    </body>
</html>