{% extends "base.html" %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="container">
                    <div class="alert alert-success alert-dismissible" id="alert">
                        <strong> {{message}} </strong>
                    </div>
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="form">
        <div class="form-triangle"></div>
            <h2 class="form-header">Ingresse os seguintes dados</h2>
            <form class="form-container" action="/dados" method="POST">
                <div class="col-sm-12">
                    <p><input type="text" name="i_nome" placeholder="Seu Nome" required></p>
                </div>
                <div class="col-sm-12">
                    <p><input type="text" name="i_data_nascimento" placeholder="Sua Data de Nascimento" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker" required></p>
                </div>
                <div class="col-sm-12">
                    <button type="submit" id="btn" class="btn btn-primary btn-lg btn-block" style="background-color: #656565; border-color: #656565" !important>Enviar</button>
                </div>
            </form>
    </div>

        <script>
            $(document).ready(function () {
                window.setTimeout(function() {
                    $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
                        $(this).remove(); 
                        });
                    }, 2000);
                });

            $(function () {
                $('#datetimepicker').datetimepicker({
                    format: 'L',
                    locale: 'pt-br'
                    });
                });
        </script>

{% endblock %}