{% extends "base.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            
                
            {% endfor %}
        {% endif %}
    {% endwith %}

        <div class="login">
            <div class="login-triangle"></div>
                <h2 class="login-header">Ingresse os seguintes dados</h2>
                <form class="login-container" action="/dados" method="POST">
                    <div class="col-sm-12">
                        <p><input type="text" name="i_nome" placeholder="Seu Nome" required></p>
                    </div>
                    <div class="col-sm-12">
                        <p><input type="text" name="i_data_nascimento" placeholder="Sua Data de Nascimento" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker" required></p>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" id="btn" class="btn btn-primary btn-lg btn-block" style="background-color: #656565; border-color: #656565" !important>Enviar</button>
                    </div>
                </form>
        </div>
        <script>
            $(function () {
                $('#datetimepicker').datetimepicker({
                    format: 'L',
                    locale: 'pt-br'
                    });
                });
        </script>
{% endblock %}