{% extends "base.html" %}

{% block body %}
    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table id='tbl' class="table table-striped table-bordered" style="width: 100%">
                <thead style="text-align: center; font-size:medium; font-weight: bold;">
                    <tr>
                        <td>Nome</td>
                        <td>Idade</td>
                    </tr>
                </thead>
                <tbody style="text-align: center; font-size: medium;">
                    {% for users in resultado %}
                        <tr>
                            <td>{{ users['nome'] }}</td>
                            <td>{{ users['idade']|int() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}